<footer class="md-footer">
    <div class="md-footer-meta md-typeset">
        <div class="md-footer-meta__inner md-grid" style="padding-top: 12px; padding-bottom: 12px;">
            <div class="md-footer-copyright">
                Made with 
                <a href="https://groningen.nl/" target="_blank" rel="noopener">
                    ❤️ in Groningen
                </a>
            </div>
            <div class="md-footer-social">
                <a href="https://discord.gg/XenYeQShC6" target="_blank" rel="noopener" title="Official Discord"
                    class="md-footer-social__link">
                    <span class="twemoji">
                        {% include ".icons/fontawesome/brands/discord.svg" %} 
                    </span>
                </a>
                <a href="https://github.com/zerenxyz/hanzewiki" target="_blank" rel="noopener" title="Github Repo"
                    class="md-footer-social__link">
                    <span class="twemoji">
                        {% include ".icons/fontawesome/brands/github.svg" %} 
                    </span>
                </a>
            </div>
        </div>
    </div>
</footer>