:root {
  --md-primary-fg-color: hsl(31, 100%, 47%);
  --md-primary-fg-color--light: hsl(42, 100%, 47%);
  --md-primary-fg-color--dark: hsl(31, 100%, 47%);
}

.p-5 {
  padding-top: 4rem;
  padding-bottom: 5rem;
}